<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seja um Zyder!</title>
</head>
<body>
    <div class="container budget">
        <h1>Seja bem vindo ao mundo <strong>Zyde</strong>!</h1>
        <form action="" method="post"><ul>
            <li><p>Escolha seu produto Zy:</p> <select name="" id=""></select></li>
            <!-- <li><p>Deseja personalizar?</p>in</li> se sim ou se nãos--> 
            <li><p>E-mail para contato:</p><input type="email" name="" id=""></li>
            <li><p>Número para contato:</p><input type="tel" name="" id=""></li>
            <br>
            <button>Fazer pedido!</button>
            
        </ul></form>
        
        
        
        
    </div>
</body>
</html>